{% extends 'base.html'%}

{% block content %}
{% load crispy_forms_tags %}
<h1 class="text-2xl font-bold text-center">Add New Task</h1>


<div class="flex justify-center items-center h-screen">
    <form method="post" class="w-3/4 p-2 bg-white rounded-lg shadow-md">
        {% csrf_token %}

        <div class="mb-5">
            <label for="{{ form.taskTitle.id_for_label }}" class="block text-sm font-medium text-black-700 dark:text-black-700">
                Task Title
            </label>
            {{ form.taskTitle  }}
        </div>

        <div class="mb-4">
            <label for="{{ form.taskDescription.id_for_label }}" class="block text-sm font-medium text-black-700 dark:text-black-700">
                Task Description
            </label>
            {{ form.taskDescription }}
        </div>

        <button type="submit" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mt-4">
            Submit
        </button>
    </form>
</div>




{% endblock %}