{% extends 'base.html'%}

{% block content %}



<div class="relative overflow-x-auto shadow-md sm:rounded-lg flex justify-center">
    {% if data %}
    <table class="w-10/12 text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3 text-center">
                    Task id
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Task Title
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Task Description
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Task Status
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">

                <th scope="row" class="px-6 py-4 font-medium text-center whitespace-nowrap dark:text-white">
                    {{i.id}}
                </th>
                <td class="px-6 py-4 text-center dark:text-white">
                    {{i.taskTitle}}
                </td>
                <td class="px-6 py-4 text-center dark:text-white">
                    {{i.taskDescription}}
                </td>
                <td class="px-6 py-4 text-center dark:text-white">
                    {% if i %}
                    InCompleted
                    {% else %}
                    complete
                    {% endif %}
                </td>
                <td class="px-6 py-4 text-center dark:text-white">
                    <a href="{% url 'delete_task' id=i.id %}"
                        class="font-medium text-blue-600 dark:text-white hover:underline">
                        <button type="button"
                            class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-xs px-5 py-2.5 text-center mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
                            Delete
                        </button>
                    </a>
                    <a href="{% url 'edit_task' id=i.id %}"
                        class="font-medium text-blue-600 dark:text-white hover:underline"><button type="button"
                            class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-xs px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900">
                            Edit
                        </button></a>
                    <a href="{% url 'completed_task' id=i.id %}" class="font-medium text-blue-600 dark:text-white hover:underline">
                        <button type="button"
                            class="text-white bg-green-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-xs px-5 py-2.5 text-center mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-900">
                            Complete
                        </button>
                    </a>



                </td>
            </tr>

            {% endfor %}

        </tbody>
    </table>
    {% else %}
    <h1 class="text-2xl font-bold">No Data Available</h1>
    {% endif %}
</div>


{% endblock %}